$text-color: #213547;
$light-text-color: #ffffff;

$primary-color: #646cff;
$primary-darker-color: #535bf2;
$secondary-color: orange;
$secondary-darker-color: #e47209;

$base-bg-color: #ffffff;
$dark-bg-color: #242424;
$card-bg-color: #fdfeff;

$error-color: red;
$gray-color: #6c757d;
