.form {
  width: 400px;
  padding: 20px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: $card-bg-color;
}

.row {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  font-size: 1.125rem;
  font-weight: bold;
}

.textInput {
  width: 100%;
  padding: 0.375rem;
  border-radius: 0.375rem;
  outline: none;
  border: 1px solid $dark-bg-color;

  &:focus {
    border-color: $primary-color;
  }
}

.textInputError {
  border-color: $error-color;

  &:focus {
    border-color: $error-color;
  }
}

.radioGroup {
  display: flex;
  gap: 20px;
}

.error {
  margin: 0;
  color: $error-color;
  font-size: 0.9rem;
  line-height: 1.1;
}

.submitButton {
  width: 50%;
}
